body{
    background-color: #848484;
    }

.submenu{
        position: absolute;
        width: 10%;
        visibility: hidden;
        background: #333333;
        align-content:center;
    }
.submenu li a{

	display: block;
	padding: 15px;
	color: #fff;
	font-family: Arial Black;
	text-decoration: none;
}
.menu li:hover .submenu{

visibility: visible;
}
 
.navegacion{
        width: 100%;
        margin:20px;
        background: #848484;

   }
   .navegacion ul{
    list-style: none;
   }
   .menu > li{
    display: inline-block;
   }
      .menu > li > a{

    display: block;
    padding: 15px 20px;
    font-family: 'arial';
    text-decoration: none;
   }
   .menu  li  a:hover{
    transition: all .3s;
    opacity: 0.4;
   }

label {
    position: relative;
    border: 5px solid gray; 
    margin: 5px auto;
      background-color: #EFEFEF;
      font-family: Arial Black;

}

input {

    border: 5px solid gray; 
    position: relative;
    margin: 5px auto;
      background-color: #EFEFEF;
      font-family: Arial Black;

  }


.form-group {
    position: relative;
    margin: 1% auto;
  background-color: #EFEFEF;
    border-style:inset;
    border-color: black;
}

form{
    color: #000;
  border-width:5px;  
    border-style:inset;
    border-color: black;

}

.formulario{
  border-width:5px;  
    width: 80%;

      border-color: black;
    border-style:inset;
  align-content: left;
  background-color: #D8D8D8;
}
.formulario2{
  border-width:5px;  
    width: 50%;

      border-color: black;
    border-style:inset;
  align-content: left;
  background-color: #D8D8D8;
}
.formulario3{
  border-width:5px;  
    width: 100%;

      border-color: black;
    border-style:inset;
  align-content: left;
  background-color: #D8D8D8;
}

table {
  width: 100%;
   border-collapse: separate;
   border-spacing: 5px;
   background: #000  bottom left repeat-x;
   color: #fff;
}
td, th {
   background: #fff;
   color: #000;
   width: 15%;
   padding: 0.3em;
}